@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-align: center;
}

#gameContainer {
  position: relative;
  width: 50vw;
  height: 40vh;
  background-color: aliceblue;
  margin: 100px auto;
  border: 1px solid #ccc;
  overflow: hidden;
}

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vh;
  background-color: darkolivegreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ambience {
  position: absolute;
  top: 0;
  width: 100%;
}

#player {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 3vh;
  left: 10vw;
  width: 8vw;
  height: 5vw;
}

#gameInstructions {
  position: fixed;
  height: 60vh;
  width: 60vw;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: #ff8f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startGameButton {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 0.3em;
}

#startGameButton:hover {
  background-color: #ccc;
}

.run1 {
  content: url("./canvas/dog1.png");
}

.run2 {
  content: url("./canvas/dog2.png");
}

.run3 {
  content: url("./canvas/dog3.png");
}

.run4 {
  content: url("./canvas/dog4.png");
}

.run5 {
  content: url("./canvas/dog5.png");
}

.run6 {
  content: url("./canvas/dog6.png");
}

.run7 {
  content: url("./canvas/dog7.png");
}

.run8 {
  content: url("./canvas/dog8.png");
}

.run9 {
  content: url("./canvas/dog9.png");
}

#player.jump-up {
  transform: translateY(-12vh);
  transition: transform 0.3s ease;
}

#player.jump-down {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.cloud {
  position: absolute;
  content: url("./canvas/cloud.png");
}

.big-cloud {
  width: 15vw;
  height: 15vw;
}

.small-cloud {
  width: 7vw;
  height: 7vw;
}

.medium-cloud {
  width: 10vw;
  height: 10vw;
}

.obstacle {
  position: absolute;
  height: 5vw;
  bottom: 3vh;
  right: -8vh;
}

.rock {
  content: url("./images/rock_moss.png");
}

.tree {
  content: url("./images/tree_pine1.png");
}

.flower {
  content: url("./images/flower_blue.png");
}

.collision-area {
  position: absolute;
  left: 12vw;
  bottom: 3vh;
  width: 5vw;
  height: 10vh;
}

#score {
  position: absolute;
  top: 0px;
  right: 15px;
}

.game-over-display {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-over-display h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: bolder;
  font-family: "Orbitron", sans-serif;
}

.message-buttons {
  display: flex;
  gap: 1em;
}

.message-buttons button {
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
}

.hidden {
  display: none;
}

#quit_game {
  font-size: 0.8em;
  color: white;
  position: relative;
  text-align: center;
}

@media (max-width: 850px) {
  #gameInstructions {
    width: 80vw;
    height: 80vh;
  }
  #quit_game {
    font-size: 0.5em;
  }
}
