/* STYLES */
body {
  margin: 0;
}

h1 {
  text-align: center;
}

#gameContainer {
  position: relative;
  width: 50vw;
  height: 35vh;
  background-color: aliceblue;
  margin: 100px auto;
  border: 1px solid #ccc;
  overflow: hidden;
}

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vh;
  background-color: darkolivegreen;
}

#ambience {
  position: absolute;
  top: 0;
  width: 100%;
}

#player {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 3vh;
  left: 10vw;
  width: 8vw;
  height: 5vw;
}

.instructions {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: aqua;
}

.run1 {
  content: url("./canvas/dog1.png");
}

.run2 {
  content: url("./canvas/dog2.png");
}

.run3 {
  content: url("./canvas/dog3.png");
}

.run4 {
  content: url("./canvas/dog4.png");
}

.run5 {
  content: url("./canvas/dog5.png");
}

.run6 {
  content: url("./canvas/dog6.png");
}

.run7 {
  content: url("./canvas/dog7.png");
}

.run8 {
  content: url("./canvas/dog8.png");
}

.run9 {
  content: url("./canvas/dog9.png");
}

#player.jump-up {
  transform: translateY(-12vh);
  transition: transform 0.3s ease;
}
  
#player.jump-down {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.cloud {
  position: absolute;
  background-image: url("./canvas/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.big-cloud {
  right: -150px;
  width: 150px;
  height: 150px;
}

.small-cloud {
  width: 70px;
  height: 70px;
}

.medium-cloud {
  width: 110px;
  height: 110px;
}

.obstacle {
  position: absolute;
  height: 5vw;
  bottom: 3vh;
  right: -8vh;
}

.rock {
  content: url("./images/rock_moss.png");
}

.tree {
  content: url("./images/tree_pine1.png");
}

.flower {
  content: url("./images/flower_blue.png");
}

.collision-area {
  position: absolute;
  left: 12vw;
  bottom: 3vh;
  width: 5vw;
  height: 10vh;
}

#score {
  position: absolute;
  top: 0px;
  right: 15px;
}
